# Ignore bundler config.
/.bundle

# IntelliJ stuff
/.idea

# Environment Variables
.env
.env.test

# Test coverage

/coverage

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
