---
http_interactions:
  - request:
      method: get
      uri: http://api.weatherapi.com/v1/forecast.json?key=<WEATHER_API_KEY>&q=SW1
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        Content-Type:
          - application/json
        Cdn-Pullzone:
          - '93447'
        Cdn-Uid:
          - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
        Cdn-Requestcountrycode:
          - RO
        Cdn-Proxyver:
          - '1.0'
        Cdn-Requestpullsuccess:
          - 'True'
        Cdn-Requestpullcode:
          - '401'
        Cdn-Cachedat:
          - 11/02/2021 13:02:49
        Cdn-Edgestorageid:
          - '717'
        Cdn-Status:
          - '401'
        Cdn-Requestid:
          - 95986db8ee3ec86dacd36d9857a96851
        Cdn-Cache:
          - EXPIRED
      body:
        encoding: UTF-8
        string: '{"error":{"code":2006,"message":"API key is invalid."}}'
    recorded_at: Tue, 02 Nov 2021 17:02:49 GMT
recorded_with: VCR 6.0.0
